<article class="post">
    {{#each posts as |post|}}
    <div class="card mb-4">
        <div class="card-header" style="">
            <h3 class="card-title">
                <a href="/post/{{post.id}}">{{post.heading}}</a>
            </h3>
            <p class="mb-2">Posted by {{post.user.username}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
    {{/each}}
</article>
