<div>
    <form id="login-form">
        <h1 class="h3 mb-3 text-center">Login</h1>

        <div class="mb-3">
            <label for="username-login" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-login">
        </div>

        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a class="px-3" href="/signup">Sign up here</a>
    </form>
</div>

<script src = "/js/login.js"></script>